<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<import resource="app-datasource.xml"/>
	<import resource="orm-hibernate4.xml"/>
	
	<import resource="app-service.xml"/>
	<import resource="app-tx-aop.xml"/>
</beans>
